<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect from http:// and https://www to https://music.snow-n-stuff.com (non-www)
    RewriteCond %{HTTP_HOST} ^(www\.)?music.snow-n-stuff\.com [NC,OR]
    RewriteCond %{HTTP_HOST} ^music.snow-n-stuff\.com [NC]
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://music.snow-n-stuff.com/$1 [L,R=301]

    RewriteCond %{HTTP_HOST} ^www\.music.snow-n-stuff\.com [NC]
    RewriteRule ^(.*)$ https://music.snow-n-stuff.com/$1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
