@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

/* Company Logos */

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 90s linear infinite;
}

.pause-animation {
    animation-play-state: paused;
}

/*Audio Player*/


  /* Personalizare pentru input range (volume slider) */
  .vertical-slider {
    appearance: slider-vertical;
    -webkit-appearance: slider-vertical;
    accent-color: #ef4444;
    width: 4px;
    height: 96px;
    writing-mode: bt-lr;
    margin: 0 auto;
}

.vertical-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ef4444;
    cursor: pointer;
    transform: translateX(6px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.vertical-slider::-webkit-slider-thumb:hover {
    background: #dc2626;
    transform: translateX(6px) scale(1.1);
}

.vertical-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: #374151;
    border-radius: 2px;
    transition: all 0.2s ease;
}

.vertical-slider::-webkit-slider-thumb:active {
    background: #b91c1c;
    transform: translateX(6px) scale(0.95);
}

.vertical-slider::-moz-range-thumb {
    height: 12px;
    width: 12px;
    border: none;
    border-radius: 50%;
    background: #ef4444;
    cursor: pointer;
    transition: all 0.2s ease;
}

.vertical-slider::-moz-range-track {
    width: 100%;
    height: 4px;
    background: #374151;
    border-radius: 2px;
}

/* Animație pentru pulse */
@keyframes pulse {
    0% { transform: scale(1); opacity: 0.5; }
    50% { transform: scale(1.1); opacity: 0.3; }
    100% { transform: scale(1); opacity: 0.5; }
}

/* Stiluri pentru dezactivarea selecției textului */
.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Stiluri pentru label section */


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background-size: 200% auto;
    animation: gradient 8s ease infinite;
}
